<div class="container">
    <h2>All Courses</h2>
    <ng-container>
        <div class="course-container">
            <div class="course-card">
                <div>
                    <img [src]="" style="width:220px; height:140px;">
                </div>
                <div class="course-name"><h4>Course Name</h4></div>
                <div class="course-description"><p>Course desc</p></div>
                <div class="details">
                    <div class="course-type">Course type</div>
                    <div class="course-price"><b>Price:</b> "$ 100"</div>
                </div>
                <div class="course-buttons">
                    <button class="btn btn-buy">Buy Now</button>
                    <button class="btn btn-show">Show Deatils</button>
                </div>
            </div>
        </div>  
    </ng-container>
</div>

