<div class="form">
  <h2 id="registration">Registration Form</h2>
  <form>
    <label for="fname">First Name</label>
    <input type="text" id="fname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" placeholder="Your last name..">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Your last email..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="Australia">Australia</option>
      <option value="Canada">Canada</option>
      <option value="USA">USA</option>
    </select>

    <label for="gender">Gender:</label>
    <input type="radio" name="gender">
    <label for="male">Male</label>
    <input type="radio" name="">
    <label for="male">Female</label>
    <input type="radio" name="gender" checked>
    <label for="male">Other</label>

    <br><br>
    <label>Hobbies <i>(Optional)</i></label>
    <div class="form-inline">
      <label><input type="checkbox" value="sports" checked> Sports</label>
      <label><input type="checkbox" value="movies" > Movies</label>
      <label><input type="checkbox" value="music" > Music</label>
    </div>

    <input type="submit" value="Submit" id="btn">
  </form>
</div>