<div class="course-container">
    <div>
        <img src="" width="560" height="280">
    </div>
    <div>
        <h1 style="text-align: center;">Course Name</h1>
    </div>
    <div class="course-details">
        <div style="margin: 0px 10px;"><b>Author: </b>Course Author</div>
        <div style="margin: 0px 10px;"><b>Duration: </b>"ourse duration</div>
        <div style="margin: 0px 10px;"><b>Type: </b>course type</div>
    </div>
    <div style="margin: 0px 10px;">
        <h2>Price: 100 $</h2>
    </div>
    <div style="margin: 20px 10px;">
        <p> course description</p>
    </div>
</div>
