.course-container{
    width: 580px;
    margin: 20px auto;
    padding: 10px 10px;
    background-color: #fff;
}
.course-details{
    display: flex;
    margin: 20px 0px;
    text-align: center;
}
button{
    padding: 3px 10px;
    margin-left: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}