<h1>This is App Component</h1>

<div class="container" setBackground>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>


<div appHighlight appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>


<div class="container" [appBetterHighlight]="'red'" [defaultColor]="'yellow'"> <!-- [highlightColor]="'red'" -->
  <p>This is a demo HTML content to understand @HostBinding in Angular.</p>
</div>
<!-- setBackground -> create a custom directive-->

<div appClass [display]="{container: true, 'change-font': true}">
  <p>This is a demo HTML content to understand how to create custom ngClass directive in Angular.</p>
</div>

<div class="container" [appStyle]="{backgroundColor: active ? 'Green' : 'Red', color: 'white'}">
  <p>This is a demo HTML content to understand how to create custom ngStyle directive in Angular.</p>
</div>