<h1>This is App Component</h1>

<div class="container" setBackground>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>


<div appHighlight appHover>
  <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
</div>


<div class="container" [appBetterHighlight]="'red'" [defaultColor]="'yellow'"> <!-- [highlightColor]="'red'" -->
  <p>This is a demo HTML content to understand @HostBinding in Angular.</p>
</div>
<!-- setBackground -> create a custom directive-->

<div appClass [display]="{container: true, 'change-font': true}">
  <p>This is a demo HTML content to understand how to create custom ngClass directive in Angular.</p>
</div>

<div class="container" [appStyle]="{backgroundColor: active ? 'Green' : 'Red', color: 'white'}">
  <p>This is a demo HTML content to understand how to create custom ngStyle directive in Angular.</p>
</div>

<button class="btn btn-notice" (click)="displayNotice()">Show Notice</button>
<div class="container info-container notice" *appIf="display">
  <h3>This is Important Notice!!</h3>
  <p>This is a notice issued for all website users.</p>
</div>
<!-- <ng-template #myVar>
  <p class="container info-container">This is the paragraph representing else statement.</p>
</ng-template> -->


<!-- This is the another way of creating a structural directive along with how to use 'Else' statement in <ng-template> -->
<!-- <ng-template [ngIf]="display" [ngIfElse]="myVar">
  <div class="container info-container notice" >
    <h3>This is Important Notice!!</h3>
    <p>This is a notice issued for all website users.</p>
  </div>
</ng-template>
<ng-template #myVar>
  <p class="container info-container">This is the paragraph representing else statement.</p>
</ng-template> -->


<!-- [ngSwitch] directive example -->
<div class="container" [ngSwitch]="occupation">
  <p *ngSwitchCase="'teacher'">This paragraph will be displayed when occupation is teacher.</p>
  <p *ngSwitchCase="'designer'">This paragraph will be displayed when occupation is designer.</p>
  <p *ngSwitchCase="'lawyer'">This paragraph will be displayed when occupation is lawyer.</p>
  <p *ngSwitchDefault>This paragraph is default and will be displayed if no case matches switch expression.</p>
</div>